li{
    color: red;
    font-size: 20px;
}

.heading{
    color: black;
}
.blue-background {
    background-color:skyblue;
}
.thick-white-border{
    border-color: white;
    border-width: 17px;
    border-style: solid;
    border-radius: 10px;


}
 